{:tasks
 {:requires ([babashka.fs      :as fs]
             [babashka.process :refer [shell]]
             [clojure.java.io  :as io])

  -today     (str (java.time.LocalDate/now))

  dump       {:depends [-today]
              :task    (shell (format "pg_dump -U datomic datomic -Fc --file=datomic-backup-%s.dump" -today))}

  -datomic   (str (io/file (str (fs/home)) ".datomic" "current" "bin"))
  transactor {:depends [-datomic]
              :task
              (let [transactor (io/file -datomic "transactor")
                    options    "-Ddatomic.printConnectionInfo=true"
                    config     (str (fs/cwd) "/config/datomic-sql.properties")]
                (shell
                 (format "%s %s %s" transactor options config)))}

  console    {:depends [-datomic]
              :task
              (let [console (io/file -datomic "console")
                    port    8000
                    url     "datomic:sql://?jdbc:postgresql://localhost:5432/datomic?user=datomic&password=datomic"]
                (shell (format "%s -p %d db %s" console port url)))}}}
