{:paths ["src" "resources"]
 :deps {;; Bases

        ;; Components
        sig/datom-utils        {:local/root "../../components/datom_utils"}

        ;; Clojure Deps
        com.datomic/local    {:mvn/version "1.0.277"}}
 :aliases {:test {:extra-paths ["test"]}}}
