{:paths ["src" "resources"]
 :deps  {;; Components
         sig/datomic-store {:local/root "../../bases/datomic_store" :exclusions [io.replikativ/datahike]}

         ;; Clojure Deps
         com.datomic/peer {:mvn/version "1.0.7075"}
         nano-id/nano-id  {:mvn/version "1.1.0"}}
 :aliases {:test {:extra-paths ["test"]}}}
