^{:extra-main-files {:testing {:main behave.test-runner}}
  :watch-dirs   ["projects/behave/src/cljs"
                 "projects/behave/test/cljs"
                 "bases/behave_components/src"]}
{:main          "behave.client"
 :output-dir    "projects/behave/resources/public/cljs/"
 :output-to     "projects/behave/resources/public/cljs/app.js"
 :asset-path    "/cljs"
 :source-map    true
 :optimizations :none
 :pretty-print  true}
