^{:css-dirs            ["bases/behave_components/resources/public/css"
                        "projects/behave/resources/public/css"]
  :watch-dirs          ["projects/behave/src/cljs"
                        "bases/behave_components/src"]
  :ring-server-options {:port 8081 :join? false}
  :ring-handler        behave.core/development-app
  :open-url            "http://localhost:8081/worksheets"
  :clean-outputs       true}
{:main          "behave.client"
 :output-dir    "projects/behave/resources/public/js/out"
 :output-to     "projects/behave/resources/public/js/out/app.js"
 :asset-path    "/js/out"
 :source-map    true
 :optimizations :none
 :pretty-print  true}
