^{:css-dirs            ["bases/behave_components/resources/public/css"
                        "projects/behave_cms/resources/public/css"]
  :watch-dirs          ["projects/behave_cms/src/cljs"
                        "projects/behave_cms/src/cljc"
                        "bases/behave_schema/src/"
                        "bases/behave_components/src"]
  :ring-server-options {:port 8082 :join? false}
  :ring-handler        behave-cms.handler/development-app
  :open-url            "http://localhost:8082/login"
  :clean-outputs       true}
{:main          behave-cms.client
 :output-dir    "projects/behave_cms/resources/public/cljs"
 :output-to     "projects/behave_cms/resources/public/cljs/app.js"
 :asset-path    "/cljs"
 :source-map    true
 :optimizations :none
 :pretty-print  true}
