{:paths ["src" "resources"]
 :deps {;; Bases

        ;; Components
        sig/datom-utils        {:local/root "../../components/datom_utils"}
        sig/ds-schema-utils    {:local/root "../../components/ds_schema_utils"}

        ;; Clojure Deps
        datascript/datascript                   {:mvn/version "1.5.3"}
        io.github.tonsky/datascript-storage-sql {:mvn/version "1.0.0"}
        org.xerial/sqlite-jdbc                  {:mvn/version "3.43.0.0"}
        me.raynes/fs                            {:mvn/version "1.4.6"}}
 :aliases {:test {:extra-paths ["test"]}}}
