@charset "UTF-8";

[data-theme-color="surface" i] {
  --themed-tab-group-edge-color: var(--surface-primary);
  --themed-tab-background-color: var(--surface-secondary);
  --themed-header-bottom-border-color: var(--surface-primary);
  --themed-header-background-color: var(--surface-secondary);
}

[data-theme-color="contain" i] {
  --themed-tab-group-edge-color: var(--contain-primary);
  --themed-tab-background-color: var(--contain-secondary);
  --themed-header-bottom-border-color: var(--contain-primary);
  --themed-header-background-color: var(--contain-secondary);
}

[data-theme-color="mortality" i] {
  --themed-tab-group-edge-color: var(--mortality-primary);
  --themed-tab-background-color: var(--mortality-secondary);
  --themed-header-bottom-border-color: var(--mortality-primary);
  --themed-header-background-color: var(--mortality-secondary);
}

[data-theme-color="crown" i] {
  --themed-tab-group-edge-color: var(--crown-primary);
  --themed-tab-background-color: var(--crown-secondary);
  --themed-header-bottom-border-color: var(--crown-primary);
  --themed-header-background-color: var(--crown-secondary);
}

[data-color-tag="standard" i] {
  --themed-multi-select-option-color: var(--yellow-3);
}

[data-color-tag="mediterranean" i] {
  --themed-multi-select-option-color: var(--darkgreen-1)
}

[data-color-tag="chapparal-and-coastal-sage-shrub" i] {
  --themed-multi-select-option-color: var(--orange-4);
}

body {
  background-color: var(--gray-2);
}

/* -- App -- */
#app {
  width: 100%;
  height: 100vh;
}
/* -- End App -- */

/* -- Page -- */
.page:after {
  display: block;
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 6px;
  border-top: 6px solid var(--lightblue-2);
  border-bottom: 12px solid var(--darkblue-5);
  background-color: var(--medblue-1);
  content: '';
}

.page__top {
  border-spacing: 0px;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  margin-bottom: 30px;
  border: 0px;
}

.page__top__logo {
  vertical-align: top;
}

.page__top__toolbar-container {
  width: 100%;
}

.page__main {
  display: flex;
  height: 825px;
  padding: 170px 0px 40px;
}

.page .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

/* -- End Page -- */

/* -- Container -- */
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 30px 0 60px;
}
/* -- End Container -- */

/* -- Header -- */
.header {
  background-color: var(--white);
}
/* -- End Header -- */

/* -- Top Bar -- */
.top-bar {
  width: 100%;
}
/* -- End Top Bar -- */

.toolbar {
  display: flex;
  flex-direction: column;
  z-index: -2;
  margin-left: 30px;
  background: var(--white);
  box-shadow: 0px 1px 1px var(--gray-4);
}

.toolbar__tools {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding: 22px;
}

.toolbar__tools .input-text {
  padding-left: 70px;
}

/* -- Identity -- */
.behave-identity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 140px;
  background-color: var(--white);
  box-shadow: 1px 2px 2px var(--gray-4);
}

/* -- End Identity -- */

/* - Sidebar Container - */

.sidebar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  min-width: 180px;
}

.sidebar-close {
  float: right;
  position: absolute;
  top: 10px;
  right: 5px;
}

.sidebar__expand > .button {
  width: 30px;
  height: 50px;
}

.sidebar__expand .button__icon{
  right: 7px;
}

/* -- Sidebar -- */

.sidebar__header {
  width: 100%;
  height: 40px;
}

/* --- Sidebar Group --- */

.sidebar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--white);
  box-shadow: 0px 2px 3px var(--gray-4);
}

.sidebar-group:not(:first-child) {
  height: 100%;
  margin-top: 20px;
}

/* ---- Sidebar Group Module ---- */

.sidebar-group__module {
  left-margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 9px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.sidebar-group__module__icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.sidebar-group__module__label {
  padding-left: 5px;
  cursor: default;
}

.sidebar-group__module:hover .sidebar-group__module__label {
  text-decoration: underline;
}

.sidebar-group__header {
  display: block;
  width: 100%;
  min-width: 114px;
  height: 48px;
  border: 1px solid var(--lightblue-4);
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  line-height: 48px;
  text-align: center;
  color: var(--darkblue-4);
  background-color: var(--lightblue-2);
}

.sidebar-group__module__icon .ring-icon--tools2,
.sidebar-group__module__icon .ring-icon--settings2 {
  left: -5px;
}
/* ---- End Sidebar Group Module ---- */
/* --- End Sidebar Group --- */
/* -- End Sidebar -- */
/* - End Sidebar Container - */

/* -- Working Area -- */
.working-area {
  width: calc(100% - 400px - 180px);
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--white);
  box-shadow: 0px 2px 3px var(--gray-4);
}

.working-area--sidebar-hidden {
  width: calc(100% - 400px);
}

.working-area--help-area-hidden {
  width: calc(100% - 180px);
}

.working-area--sidebar-hidden.working-area--help-area-hidden {
  width: 100%;
}

.working-area__title {
  padding: 10px 20px;
  border-radius: 8px 8px 0px 0px;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--darkblue-4);
}
/* -- End Working Area -- */

/* -- Work Style Select -- */

.workflow-select__header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray-3);
  background-color: var(--gray-1);
}

.workflow-select__header__content svg {
  padding-right: 15px
}

.accordion {
  position: relative;
}

.accordion__collapse {
  float: right;
  position: absolute;
  top: 10px;
  right: 5px;
}

.accordion__collapse > .button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: var(--medblue-4);
}

.accordion__collapse > .button:hover{
  background-color: var(--white);
}

.accordion__collapse > .button .button__icon {
  top: -2px;
  left: 10px;
}

.accordion__collapse:hover .button__icon,
.accordion__collapse > .button .button__icon:hover {
  fill: var(--medblue-4);
}

.accordion__expand {
  float: right;
  position: absolute;
  top: 10px;
  right: 5px;
}

.accordion__expand > .button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid var(--white);
  border-radius: 50%;
  background-color: var(--medblue-4);
}

.accordion__expand > .button:hover {
  background-color: var(--white);
}

.accordion__expand > .button .button__icon {
  top: -3px;
  left: 6px;
}

.accordion__expand:hover .button__icon,
.accordion__expand > .button .button__icon:hover {
  fill: var(--medblue-4);
}

.accordion__header {
  display: flex;
  height: 48px;
  padding-left: 10px;
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  font-size: var(--font-size-18);
  line-height: 48px;
  text-align: center;
  text-align: left;
  color: var(--white);
  background-color: var(--darkblue-7);
}

.workflow-select__header__title > .tab > .button {
  display: block;
  width: 100%;
  height: 41px;
  text-align: left;
  pointer-events: none;
}

.accordion__header,
.workflow-select__header__title .button__label {
  text-transform: uppercase;
}

.workflow-select__header__content {
  display: flex;
  flex-direction: row;
  padding: 13px;
  background-color: var(--gray-1);
}

.workflow-select__content {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 15px;
  background-color: var(--white);
}

.workflow-select__content__name {
  margin-top: 20px;
  padding: 15px;
}

.workflow-select__content .card-group {
  row-gap: 19px;
}

.workflow-select__content .card-group__card .card {
  min-width: 70%;
  min-height: 100%;
}

.workflow-select__content .module-icon__hover-mask {
  visibility: hidden;
}

.workflow-select__content .module-icon {
  width: 60px;
  height: 60px;
}

.workflow-select__content .module-icon__hover-mask,
.workflow-select__content .module-icon--selected .module-icon__hover-mask,
.workflow-select__content .module-icon:hover .module-icon__hover-mask {
  visibility: hidden;
}

/* -- End Work Style Select -- */

/* - Wizard - */

.wizard {
  background-color: var(--white);
}

.wizard-header {
  margin-bottom: 15px;
}

.wizard-header__io-tabs {
  position: relative;
  margin-top: 4px;
  top: -5px;
}

.wizard-header__io-tabs > .tab-group {
  border-top: none;
}

.wizard-header__banner {
  display: flex;
  align-items: center;
  margin-top: -20px;
  padding: 0px 20px 10px;
}

.wizard-header__banner__icon {
  margin-right: 32px;
}

.wizard-header__banner__title {
  margin-right: 32px;
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-300);
}

.wizard-header__banner__notes-button--minus .button__icon {
  top: -4px;
}

.wizard-add-notes {
  padding: 5px;
}

.wizard-add-notes .button__icon,
.wizard-header__banner__notes-button--plus .button__icon {
  top: -2px;
}

.wizard-header__results-toolbar {
  display: flex;
  flex-direction: row;
  padding: 12px;
  border-top: 2px dotted var(--gray-4);
  border-bottom: 2px dotted var(--gray-4);
}

.wizard-header__results-tabs {
  padding-top: 30px;
}

.wizard-header__results-toolbar__date,
.wizard-header__results-toolbar__file-name {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.wizard-header__results-toolbar__date__label,
.wizard-header__results-toolbar__file-name__label {
  font-weight: var(--font-weight-bold)
}

.wizard-header__results-toolbar__date__value,
.wizard-header__results-toolbar__file-name__value {
  padding-left: 5px
}

.wizard-header__results-toolbar__tools {
  margin-left: auto;
  padding-right: 100px;
}

.wizard-header__submodule-tabs > .tab-group > .tab:first-child {
  margin-left: 20px;
}

.wizard-header__submodules__group {
  align-content: end;
}

.wizard-header__submodules__group:last-child {
  flex-grow: 1;
}

.wizard-header__submodules {
  display: flex;
  flex-direction: row;
}

.wizard-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--white);
}

.wizard-group__header {
  font-weight: var(--font-weight-bold);
  padding: 5px 18px;
  color: var(--black);
  background-color: var(--themed-header-background-color);
  border-bottom: 2px solid var(--themed-header-bottom-border-color);
}

.wizard-graph__output-header,
.wizard-group--level-1 > .wizard-group__header {
  padding: 5px 18px;
  color: black;
  background-color: var(--lightblue-2);
}

.wizard-group--level-2 > .wizard-group__header {
  padding: 5px 18px;
  font-weight: var(--font-weight-500);
  color: black;
  background-color: white;
}

.wizard-page__body {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  max-height: 575px;
}

.review-wizard-page__body {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  max-height: 495px;
}

/* .wizard-io { */
/*   overflow-x: hidden; */
/*   overflow-y: scroll; */
/*   height: 600px; */
/* } */

.wizard-group__inputs {
  padding: 16px 12px;
}

.wizard-repeat-group__header {
  padding: 5px 18px;
  font-weight: var(--font-weight-500);
  background-color: var(--medblue-1);
}

.wizard-group__outputs {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.wizard-output {
  padding: 25px 20px 0px;
}

.wizard-input {
  display:flex;
  align-items: center;
}

.wizard-input + .wizard-input {
  border-top: dotted 1px var(--black);
}

.wizard-input + .wizard-input:last-child {
  border-bottom: dotted 1px var(--black);
}

.wizard-input__input {
  width: 300px;
  padding: 5px;
}

.wizard-input__units {
  padding-left: 45px;
  width: 20%;
}

.wizard-input__unit-selector .input-dropdown__select-wrapper {
  margin-top: 0px;
}

.input-dropdown__select-wrapper__select {
  height: 33px;
}

.wizard-input__units__text {
  font-size: var(--font-size-15);
  color: var(--gray-5);
}

.wizard-input__range-selector {
  padding-top: 20px;
}

.wizard-input__range-selector-button--selected button {
  background-color: var(--darkblue-3);
}

.wizard-group__inputs__delete {
  margin-top: 5px;
}

/* -- Wizard review -- */

.wizard-review {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 600px;
}

.wizard-review-group__inputs {
  padding: 25px 30px;
  border-bottom: 2px dotted var(--gray-4);
}

.wizard-review__run-description__header {
  padding: 10px;
  color: var(--white);
  background: var(--darkblue-3);
}

.wizard-review__run-description__input {
  display: flex;
  flex-direction: row;
  padding: 25px 30px;
}

.wizard-review-repeat-group__message,
.wizard-review__run-description__message {
  padding-left: 24px;
  font-size: var(--font-size-14);
  color: var(--gray-5)
}

.wizard-review-repeat-group__message > .button,
.wizard-review__run-description__message .button {
  padding-left: 0px;
}

.wizard-review-repeat-group__message > .button:hover,
.wizard-review__run-description__message .button:hover {
  color: var(--orange-4);
  background: transparent;
  cursor: default;
}

.wizard-review__module {
  padding: 10px;
  color: var(--black);
  background: var(--themed-header-background-color);
  border-bottom: 2px solid var(--themed-header-bottom-border-color);
}

.wizard-review-repeat-group__input {
  display: flex;
  flex-direction: row;
}

.wizard-review-repeat-group__manage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.wizard-review__submodule-header {
  padding: 27px 0px 0px 0px;
  border-bottom: 2px solid var(--gray-4);
  font-size: var(--font-size-22);
  font-weight: var(--font-weight-bold);
}

.wizard-review .input-text__input {
  width: 250px;
}

.wizard-review .input-text {
  margin-top: auto;
  margin-bottom: auto;
}

.wizard-review__input {
  display: flex;
  width: 100%;
  padding: 5px;
}

.wizard-review__input .button {
  margin: 5px;
}

.wizard-review__input--discrete {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wizard-review__input--multi-discrete {
  display: flex;
  flex-direction: column;
}

.wizard-review__input--discrete__label {
  color: var(--gray-4);
}

.wizard-review__input--discrete__value {
  padding-left: 5px;
  text-decoration: underline;
}
/* -- End Wizard review -- */

.wizard-results__table-settings__header,
.wizard-results__graph-settings__header {
  padding: 5px 18px;
  color: var(--white);
  background-color: var(--darkblue-3);
}

.wizard-results__table-settings__content,
.wizard-results__graph-settings__content {
  padding: 20px 18px;
}

.table-settings__map-units-form__units,
.table-settings__map-units-form__map-rep-fraction {
  padding-top: 10px;
}

.wizard-results__graph-settings__content .input-radio-group__label {
  padding: 20px 0px 20px 0px;
  font-weight: var(--font-weight-bold);
}

.wizard-results__graph-settings__content .input-radio-group {
  display: flex;
  flex-direction: column;
}

.wizard-results__graph-settings__content .input-radio-group__options {
  display: flex;
  flex-direction: row;
}

.wizard-results__graph-settings__content .input-radio-group .input-radio +.input-radio {
  margin-left: 30px;
}

.wizard-results__table-settings__content .settings-form,
.wizard-results__graph-settings__content .settings-form {
  padding: 20px 0px 20px 0px;
}

.wizard-results__table-settings__content .settings-form,
.wizard-results__graph-settings__content .settings-form .table{
  width: 100%;
}

.wizard-results__directional-tables .table {
  margin-bottom: 20px;
}

.table td {
  text-align:left;
}

#right,
.table td + td {
  text-align:right;
}

.wizard-graph__header,
.wizard-print__header,
.wizard-notes__header {
  margin-top: 30px;
  margin-bottom: 33px;
  padding: 5px 18px;
  font-size: var(--font-size-18);
  color: white;
  background-color: var(--darkblue-3);
}

.wizard-note {
  padding-bottom: 10px;
}

.wizard-note__module {
  margin-bottom: 20px;
  padding: 5px 18px;
  font-size: var(--font-size-18);
  color: white;
  background-color: var(--darkblue-2);
}

.wizard-note__name {
  padding: 5px 18px;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  color: var(--medblue-3);
  background-color: none;
}

.wizard-note .note__input-title {
  padding: 5px 18px;
}

.wizard-note .note textarea {
  margin: 18px 0px 18px 0px;
}

.wizard-note__content {
  margin: 5px 0px 5px 18px;
  padding: 18px 0px 18px 0px;
  border-top: solid 1px var(--gray-4);
  border-bottom: dashed 1px var(--gray-4);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-16);
  color: var(--black);
}

.wizard-note__manage {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 18px 33px 18px 0px;
}

.wizard-note__manage .button +.button {
  margin-left: 60px;
}

.wizard-note .note > textarea {
  height: 100px;
  font-size: var(--font-size-16);
}

/* - End Wizard - */

/* -- Help Area -- */

.help-area {
  width: 400px;
  min-width: 400px;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--white);
  box-shadow: 0px 2px 3px var(--gray-4);
}

.help-area__tabs-container {
  position: relative;
  height: 48px;
  border: 1px solid var(--lightblue-3);
  border-radius: 8px 8px 0px 0px;
  background-color: var(--lightblue-3);
}

.help-area__tabs {
  position: relative;
  top: 11px;
}

/* Help Area Content */

.help-area__content {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 730px;
  font-family: 'Roboto', sans-serif;
  background: var(--white);
}

.help-section__content {
  padding: 0px 10px;
}

.help-area__content h1,
.help-area__content h2,
.help-area__content h3,
.help-area__content h4,
.help-area__content h5,
.help-area__content h6 {
    margin: 0px;
    transition: color .1s ease-in-out,
                background .2s ease-in-out,
                padding .2s ease-in-out;
}

/* Help Headers */

.help-area__content h1 {
    margin-top: 20px;
    font-size: 2em;
    font-weight: 500;
    line-height: 32px;
}

.help-area__content h2 {
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #707070;
    font-size: 1.700em;
    font-weight: 400;
    line-height: 1.700em;
}

.help-area__content h3 {
    margin-top: 20px;
    font-size: 1.300em;
    font-weight: 300;
    line-height: 1.600em;
}

.help-area__content h4 {
    margin-top: 20px;
    font-size: 1.200em;
    font-weight: 500;
    line-height: 18px;
    color: #13486A;
}

.help-area__content h5 {
    margin: 20px -10px 0px;
    padding: 10px;
    font-size: 1.200em;
    font-weight: 500;
    line-height: 18px;
    color: white;
    background: #3F454A;
}

.help-area__content h6 {
    margin-top: 20px;
    font-size: 1.200em;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    color:black;
}

.help-area__content p {
    margin-top: 10px;
    font-size: 1.000em;
    font-weight: 400;
    line-height: 26px;
}

.help-area__content hr {
    padding-bottom: 6px;
}

.help-area__content ul {
    padding-top: 10px;
    padding-left: 20px;
}

.help-area__content ul > li > p {
    margin: 0px;
    padding: 0px;
}

/* Help Images */

.help-area__content img {
    height: auto;
    width: 100%;
    cursor: pointer;
}

/* Highlight */

.help-area__content .highlight > .help-section__content {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #EDF2F5;
}

.help-area__content .highlight > .help-section__content h1,
.help-area__content .highlight > .help-section__content h2,
.help-area__content .highlight > .help-section__content h3,
.help-area__content .highlight > .help-section__content h4,
.help-area__content .highlight > .help-section__content h5 {
    text-decoration: underline;
    color: white;
    background: #5788A7;
}

.help-area__content .highlight > .help-section__content h1,
.help-area__content .highlight > .help-section__content h2,
.help-area__content .highlight > .help-section__content h3,
.help-area__content .highlight > .help-section__content h4 {
    margin: 20px -10px 0px;
    padding: 10px;
}


/* Help Expand / Close */

.help-area__expand > .button {
  width: 30px;
  height: 50px;
}

.help-area__expand .button__icon{
  right: 7px;
}

.help-area__close {
  float: right;
  position: absolute;
  top: 8px;
  right: 2px;
}

/* -- End Help Area -- */

.atlwdg-trigger.atlwdg-TOP {
  z-index: 100;
}

/* - Diagram - */

.diagram__table {
  display: inline-block;
  border-spacing: 10px 0;
  padding-right: 15px;
  vertical-align: top;
}

.diagram__table td:first-child{
  text-align: right;
  font-weight: var(--font-weight-bold);
}

.diagram {
  padding-bottom: 20px;
}
/* - End Diagram - */

/* -- Tool -- */
.tool .accordion__header {
  position: relative;
}

.tool .accordion__body {
  margin-bottom: 10px;
  padding: 10px;
  background: var(--white);
}

.tool-output,
.tool-input {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-bottom: 5px;
}

.tool-output .input-text,
.tool-input .input-dropdown,
.tool-input .input-number {
  display: flex;
  flex-direction: row;
}
.tool-output .input-text__label,
.tool-input .input-radio-group__label,
.tool-input > .input-dropdown > .input-dropdown__label,
.tool-input .input-number__label {
  min-width: 250px;
  padding: 0px;
}
.tool-input .input-dropdown__select-wrapper {
  margin-top: 0px;
}

.tool-input .input-radio-group__label {
  padding: 0px 10px 0px 0px;
  font-size: var(--font-size-14);
  font-weight: 400;
  color: var(--gray-6);
}

.tool-input + .tool-input:last-child {
  border-bottom: dotted 1px var(--black);
}

.tool-output__output,
.tool-input__input {
  padding: 5px;
}

.tool-output__description,
.tool-input__description {
  width: 30%;
}

.tool-output__description__units,
.tool-input__description__units {
  font-size: var(--font-size-14);
  color: var(--gray-5);
}

.tool-output__output .input-text__label {
  font-weight: var(--font-weight-bold);
  color: var(--black);
}

.tool__close {
  position: absolute;
  top: 5px;
  right: 10px;
  fill: var(--white);
}

.tool__close > .button {
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 50%;
}

.tool__close > .button:hover {
  color: var(--darkblue-4);
  background-color: var(--white);
}

/* -- End Tool -- */


/* -- Settings View -- */

.settings__general-units .input-dropdown {
  display: inline;
}


.settings__general-units .input-number__input {
  width: 40px;
}

.settings__body {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 700px;
}

/* -- End View -- */


/* -- Print View -- */

.print__ws-name {
  font-weight: var(--font-weight-bold)
  text-align: center;
}

.print__ws-date {
  text-align: center;
}

.print {
  overflow-y: scroll;
}
.print__inputs-table .table-header__header,
.print__inputs-table .table-cell {
  text-align: left;
  white-space: pre;
}

.print__inputs-table .table__title {
  text-align: left;
}

.print__inputs-table .table {
  width: 100%;
}

.print__result-table {
  padding-top: 10px;
  padding-bottom: 10px;
}


.wizard-print__header {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media print {

  .page:after,
  .help-area,
  .page__top,
  .sidebar-container,
  .toolbar {
    display: none;
  }

  .working-area {
    width: 100%;
    margin: 0px;
  }

  .page__main {
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
  }

  .container {
    margin: 0px;
  }

  .print,
  .wizard-page__body {
    overflow-x: visible;
    overflow-y: visible;
  }

  .wizard-results .table-cell__shaded::before {
    content: '';
    display: none;
  }

  .wizard-results .table-cell__shaded {
    text-decoration: line-through;
  }

  .wizard-print__header {
    color: black;
    text-decoration: underline;
  }

  .table,
  .table-cell,
  .table__title,
  .table-header__header,
  .table-header__header[scope="row"],
  .table-header__header[scope="col"]
  {
    background-color: white;
    border-color: black;
    color: black;
  }

}

/* -- End Print View -- */


/* - Results Tables - */

.result-matrix-cell-value {
  position: relative;
  display: flex;
  flex-direction: row;
}

.wizard-results__pivot-tables .table {
  margin-bottom: 20px;
}

.wizard-results .table-cell__shaded::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201182%201182%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3Aserif%3D%22http%3A%2F%2Fwww.serif.com%2F%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A1.5%3B%22%3E%0A%20%20%20%20%3Cg%20transform%3D%22matrix%280.118906%2C0%2C0%2C0.0841043%2C0%2C0%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%2C0L9933.07%2C14043.3%22%20style%3D%22fill%3Anone%3Bstroke%3Ablack%3Bstroke-width%3A364.13px%3B%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cg%20transform%3D%22matrix%280.11245%2C0.00423664%2C0.00598973%2C0.0801734%2C-22.9624%2C15.0696%29%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10747.8%2C-755.912L-572.097%2C14574.1%22%20style%3D%22fill%3Anone%3Bstroke%3Ablack%3Bstroke-width%3A364.64px%3B%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: ' ';
}

/* - End Results Tables - */

/* - Container Close Button - */
.container__close > .button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--medblue-4);
}

.container__close > .button:hover{
  background-color: var(--white);
}

.container__close > .button .button__icon {
  right: 12px;
  fill: var(--white);
}

.container__close > .button .button__icon:hover {
  fill: var(--medblue-4);
}

/* - End Container Close Button - */


/* - Image Viewer - */

.app-shell .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate(-50%, -50%);
}

.modal__body > .image-viewer {
  padding: 10px;
}

.modal__body > .image-viewer .p {
  padding-top: 10px;
  font-weight: bold
}

.app-shell .modal__background {
  background: black;
  opacity: 0.4;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0%;
  left: 0%;
}

/* - End Image Viewer - */
