@charset "UTF-8";

.conditionals-table {
  /* position: relative; */
  overflow-x: scroll;
  display: flex;
}

.conditionals-table .line{
  width: 10px;
  transform:translateY(-50%);
  border-bottom: 3px solid;
}

.conditionals-table__operator {
  display: flex;
  align-items: center;
}

.conditionals-table__operator .mb-3 {
  display: flex;
  min-width: 90px;
  align-items: center !important;
  margin-bottom: 0px !important;
}

.conditionals-table__row {
  display: flex;
  flex-direction: row;
  border-left: 3px solid;
}

.conditionals-table__row:first-child {
  border-top: 3px solid;
}

.conditionals-table__row:last-child {
  border-bottom: 3px solid;
}

.conditionals-table__row__conditional {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.conditionals-table__row__conditional__with-sub-conditionals {
  border-left: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
  margin: 5px 5px 5px 0px;
}

.conditionals-table__values__op {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.conditionals-table__values {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.conditionals-table__entry__manage {
  margin-left: 5px;
  display: flex;
}

.conditionals-table__row__sub-conditionals {
  display: flex;
  flex-direction: column;
}

.conditionals-table__sub-conditional-and {
  border-right: 3px solid;
}


.conditionals-table__row__conditional .row {
  margin-left: 0 !important;
}
