;; shadow-cljs configuration
{:source-paths ["src" "resources" "test"]
 :dependencies [[cider/cider-nrepl "0.42.1"]
                [funcool/promesa "11.0.678"]
                [datascript/datascript "1.5.3"]]
 :dev-http     {8021 "target/test"}
 :nrepl        {:port       9000
                :middleware [cider.nrepl/cider-middleware]}
 :builds       {:browser {:target     :browser
                          :output-dir "out/js"
                          :asset-path "/js"
                          :modules    {:main {:entries [absurder.client]
                                              :init-fn absurder.client/init}}}
                :test    {:target      :browser-test
                          :test-dir    "target/test"
                          ;; :runner-ns   absurder-sql.test-runner
                          :ns-regexp   "-test$"
                          :js-options  {:js-provider :shadow}
                          :build-hooks [(absurder-sql.build/test-hook)]
                          :compiler-options {:externs ["resources/externs.js"]}}}}
