;; shadow-cljs configuration
{:source-paths ["src" "resources" "test"]
 :dependencies [[cider/cider-nrepl "0.55.7"]
                [refactor-nrepl "3.11.0"]
                [funcool/promesa "11.0.678"]
                [datascript/datascript "1.5.3"]
                [persistent-sorted-set "0.3.0"]
                [org.clojure/core.async "1.8.741"]]
 :dev-http     {8021 "target/test"}
 :nrepl        {:port       9000
                :middleware [cider.nrepl/cider-middleware]}
 :builds       {:browser {:target     :browser
                          :output-dir "out/js"
                          :asset-path "/js"
                          :modules    {:main {:entries [absurder.client]
                                              :init-fn absurder.client/init}}}
                :test    {:target      :browser-test
                          :test-dir    "target/test"
                          ;; :runner-ns   absurder-sql.test-runner
                          :ns-regexp   "-test$"
                          :js-options  {:js-provider :shadow}
                          :build-hooks [(absurder-sql.build/test-hook)]
                          :compiler-options {:externs ["resources/externs.js"]}}}}
