{:global
 {:SIGMortality
  {:calculateMortalityAllDirections
   {:id "calculateMortalityAllDirections",
    :parameters
    [{:id "probablityUnits",
      :type "FractionUnits::FractionUnitsEnum"}],
    :type "void"},
   :getEquationTypeFromSpeciesCode
   {:id "getEquationTypeFromSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "EquationType"},
   :getFlameLengthOrScorchHeightValue
   {:id "getFlameLengthOrScorchHeightValue",
    :parameters
    [{:id "flameLengthOrScorchHeightUnits",
      :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :setSurfaceFireFlameLengthBacking
   {:id "setSurfaceFireFlameLengthBacking",
    :parameters
    [{:id "value", :type "double"}
     {:id "lengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :SIGMortality
   {:id "SIGMortality",
    :parameters [{:id "rhs", :type "SIGMortality"}]},
   :getCrownCoefficientCodeFromSpeciesCode
   {:id "getCrownCoefficientCodeFromSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "int"},
   :setGACCRegion
   {:id "setGACCRegion",
    :parameters [{:id "region", :type "GACC"}],
    :type "void"},
   :setTreeHeight
   {:id "setTreeHeight",
    :parameters
    [{:id "treeHeight", :type "double"}
     {:id "treeHeightUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :setAirTemperature
   {:id "setAirTemperature",
    :parameters
    [{:id "airTemperature", :type "double"}
     {:id "temperatureUnits",
      :type "TemperatureUnits::TemperatureUnitsEnum"}],
    :type "void"},
   :getBasalAreaPrefire
   {:id "getBasalAreaPrefire", :parameters [], :type "double"},
   :getBoleCharHeight
   {:id "getBoleCharHeight",
    :parameters
    [{:id "boleCharHeightUnits",
      :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getCommonNameFromSpeciesCode
   {:id "getCommonNameFromSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "char"},
   :getTreeCrownVolumeScorchedFlanking
   {:id "getTreeCrownVolumeScorchedFlanking",
    :parameters
    [{:id "fractionUnits", :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :setWindHeightInputMode
   {:id "setWindHeightInputMode",
    :parameters
    [{:id "windHeightInputMode",
      :type "WindHeightInputMode::WindHeightInputModeEnum"}],
    :type "void"},
   :getBeetleDamage
   {:id "getBeetleDamage", :parameters [], :type "BeetleDamage"},
   :getCommonNameAtSpeciesTableIndex
   {:id "getCommonNameAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "char"},
   :getCVSorCLS {:id "getCVSorCLS", :parameters [], :type "char"},
   :getBarkThickness
   {:id "getBarkThickness",
    :parameters
    [{:id "barkThicknessUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getFlameLengthOrScorchHeightSwitch
   {:id "getFlameLengthOrScorchHeightSwitch",
    :parameters [],
    :type "FlameLengthOrScorchHeightSwitch"},
   :setFlameLengthOrScorchHeightSwitch
   {:id "setFlameLengthOrScorchHeightSwitch",
    :parameters
    [{:id "flameLengthOrScorchHeightSwitch",
      :type "FlameLengthOrScorchHeightSwitch"}],
    :type "void"},
   :postfireCanopyCover
   {:id "postfireCanopyCover", :parameters [], :type "double"},
   :setFireSeverity
   {:id "setFireSeverity",
    :parameters [{:id "fireSeverity", :type "FireSeverity"}],
    :type "void"},
   :getTreeCrownLengthScorched
   {:id "getTreeCrownLengthScorched",
    :parameters
    [{:id "lengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getSpeciesCodeAtSpeciesTableIndex
   {:id "getSpeciesCodeAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "char"},
   :getProbabilityOfMortality
   {:id "getProbabilityOfMortality",
    :parameters
    [{:id "probabilityUnits",
      :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :getDBH
   {:id "getDBH",
    :parameters
    [{:id "diameterUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getCrownDamageEquationCode
   {:id "getCrownDamageEquationCode",
    :parameters [],
    :type "CrownDamageEquationCode"},
   :checkIsInGACCRegionFromSpeciesCode
   {:id "checkIsInGACCRegionFromSpeciesCode",
    :parameters
    [{:id "speciesCode", :type "string"} {:id "region", :type "GACC"}],
    :type "bool"},
   :getBarkEquationNumberAtSpeciesTableIndex
   {:id "getBarkEquationNumberAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "int"},
   :prefireCanopyCover
   {:id "prefireCanopyCover", :parameters [], :type "double"},
   :setScorchHeight
   {:id "setScorchHeight",
    :parameters
    [{:id "scorchHeight", :type "double"}
     {:id "scorchHeightUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :getScientificNameAtSpeciesTableIndex
   {:id "getScientificNameAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "char"},
   :setBeetleDamage
   {:id "setBeetleDamage",
    :parameters [{:id "beetleDamage", :type "BeetleDamage"}],
    :type "void"},
   :calculateScorchHeight
   {:id "calculateScorchHeight",
    :parameters
    [{:id "firelineIntensity", :type "double"}
     {:id "firelineIntensityUnits",
      :type "FirelineIntensityUnits::FirelineIntensityUnitsEnum"}
     {:id "midFlameWindSpeed", :type "double"}
     {:id "windSpeedUnits", :type "SpeedUnits::SpeedUnitsEnum"}
     {:id "airTemperature", :type "double"}
     {:id "temperatureUnits",
      :type "TemperatureUnits::TemperatureUnitsEnum"}
     {:id "scorchHeightUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getKilledTrees
   {:id "getKilledTrees", :parameters [], :type "double"},
   :calculateMortality
   {:id "calculateMortality",
    :parameters
    [{:id "probablityUnits",
      :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :getRequiredFieldVector
   {:id "getRequiredFieldVector", :parameters [], :type "BoolVector"},
   :getCrownScorchOrBoleCharEquationNumber
   {:id "getCrownScorchOrBoleCharEquationNumber",
    :parameters [],
    :type "int"},
   :setCrownDamage
   {:id "setCrownDamage",
    :parameters [{:id "crownDamage", :type "double"}],
    :type "void"},
   :setFirelineIntensity
   {:id "setFirelineIntensity",
    :parameters
    [{:id "firelineIntensity", :type "double"}
     {:id "firelineIntensityUnits",
      :type "FirelineIntensityUnits::FirelineIntensityUnitsEnum"}],
    :type "void"},
   :getMortalityEquationNumberFromSpeciesCode
   {:id "getMortalityEquationNumberFromSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "int"},
   :checkIsInGACCRegionAtSpeciesTableIndex
   {:id "checkIsInGACCRegionAtSpeciesTableIndex",
    :parameters
    [{:id "index", :type "int"} {:id "region", :type "GACC"}],
    :type "bool"},
   :setSurfaceFireFirelineIntensityFlanking
   {:id "setSurfaceFireFirelineIntensityFlanking",
    :parameters
    [{:id "value", :type "double"}
     {:id "firelineIntensityUnits",
      :type "FirelineIntensityUnits::FirelineIntensityUnitsEnum"}],
    :type "void"},
   :getTreeCrownVolumeScorched
   {:id "getTreeCrownVolumeScorched",
    :parameters
    [{:id "fractionUnits", :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :setSurfaceFireFirelineIntensity
   {:id "setSurfaceFireFirelineIntensity",
    :parameters
    [{:id "value", :type "double"}
     {:id "firelineIntensityUnits",
      :type "FirelineIntensityUnits::FirelineIntensityUnitsEnum"}],
    :type "void"},
   :operator=
   {:id "operator=",
    :parameters [{:id "rhs", :type "Mortality"}],
    :type "Mortality"},
   :getTreeCrownLengthScorchedFlanking
   {:id "getTreeCrownLengthScorchedFlanking",
    :parameters
    [{:id "lengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :setUserProvidedWindAdjustmentFactor
   {:id "setUserProvidedWindAdjustmentFactor",
    :parameters
    [{:id "userProvidedWindAdjustmentFactor", :type "double"}],
    :type "void"},
   :getMortalityEquationNumberAtSpeciesTableIndex
   {:id "getMortalityEquationNumberAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "int"},
   :getSpeciesRecordBySpeciesCodeAndEquationType
   {:id "getSpeciesRecordBySpeciesCodeAndEquationType",
    :parameters
    [{:id "speciesCode", :type "char"}
     {:id "equationType", :type "EquationType"}],
    :type "SpeciesMasterTableRecord"},
   :getTreeCrownVolumeScorchedBacking
   {:id "getTreeCrownVolumeScorchedBacking",
    :parameters
    [{:id "fractionUnits", :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :getCrownDamageType
   {:id "getCrownDamageType", :parameters [], :type "CrownDamageType"},
   :getScientificNameFromSpeciesCode
   {:id "getScientificNameFromSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "char"},
   :setTreeDensityPerUnitArea
   {:id "setTreeDensityPerUnitArea",
    :parameters
    [{:id "numberOfTrees", :type "double"}
     {:id "areaUnits", :type "AreaUnits::AreaUnitsEnum"}],
    :type "void"},
   :getEquationType
   {:id "getEquationType", :parameters [], :type "EquationType"},
   :setSurfaceFireFlameLengthFlanking
   {:id "setSurfaceFireFlameLengthFlanking",
    :parameters
    [{:id "value", :type "double"}
     {:id "lengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :getCrownDamage
   {:id "getCrownDamage", :parameters [], :type "double"},
   :setSpeciesCode
   {:id "setSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "void"},
   :setSurfaceFireScorchHeight
   {:id "setSurfaceFireScorchHeight",
    :parameters
    [{:id "value", :type "double"}
     {:id "lengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :getBasalAreaPostfire
   {:id "getBasalAreaPostfire", :parameters [], :type "double"},
   :setCambiumKillRating
   {:id "setCambiumKillRating",
    :parameters [{:id "cambiumKillRating", :type "double"}],
    :type "void"},
   :getProbabilityOfMortalityBacking
   {:id "getProbabilityOfMortalityBacking",
    :parameters
    [{:id "probabilityUnits",
      :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :getSpeciesRecordAtIndex
   {:id "getSpeciesRecordAtIndex",
    :parameters [{:id "index", :type "int"}],
    :type "SpeciesMasterTableRecord"},
   :getTotalPrefireTrees
   {:id "getTotalPrefireTrees", :parameters [], :type "double"},
   :getGACCRegion {:id "getGACCRegion", :parameters [], :type "GACC"},
   :getSpeciesRecordVectorForGACCRegion
   {:id "getSpeciesRecordVectorForGACCRegion",
    :parameters [{:id "region", :type "GACC"}],
    :type "SpeciesMasterTableRecordVector"},
   :getCrownDamageEquationCodeAtSpeciesTableIndex
   {:id "getCrownDamageEquationCodeAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "CrownDamageEquationCode"},
   :setBoleCharHeight
   {:id "setBoleCharHeight",
    :parameters
    [{:id "boleCharHeight", :type "double"}
     {:id "boleCharHeightUnits",
      :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :setMidFlameWindSpeed
   {:id "setMidFlameWindSpeed",
    :parameters
    [{:id "midFlameWindSpeed", :type "double"}
     {:id "windSpeedUnits", :type "SpeedUnits::SpeedUnitsEnum"}],
    :type "void"},
   :updateInputsForSpeciesCodeAndEquationType
   {:id "updateInputsForSpeciesCodeAndEquationType",
    :parameters
    [{:id "speciesCode", :type "char"}
     {:id "equationType", :type "EquationType"}],
    :type "bool"},
   :getCrownCoefficientCodeAtSpeciesTableIndex
   {:id "getCrownCoefficientCodeAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "int"},
   :setWindSpeedAndWindHeightInputMode
   {:id "setWindSpeedAndWindHeightInputMode",
    :parameters
    [{:id "windwindSpeed", :type "double"}
     {:id "windSpeedUnits", :type "SpeedUnits::SpeedUnitsEnum"}
     {:id "windHeightInputMode",
      :type "WindHeightInputMode::WindHeightInputModeEnum"}
     {:id "userProvidedWindAdjustmentFactor", :type "double"}],
    :type "void"},
   :getScorchHeight
   {:id "getScorchHeight",
    :parameters
    [{:id "scorchHeightUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getScorchHeightBacking
   {:id "getScorchHeightBacking",
    :parameters
    [{:id "scorchHeightUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getCambiumKillRating
   {:id "getCambiumKillRating", :parameters [], :type "double"},
   :getBoleCharHeightFlanking
   {:id "getBoleCharHeightFlanking",
    :parameters
    [{:id "boleCharHeightUnits",
      :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getSpeciesRecordVectorForGACCRegionAndEquationType
   {:id "getSpeciesRecordVectorForGACCRegionAndEquationType",
    :parameters
    [{:id "region", :type "GACC"}
     {:id "equationType", :type "EquationType"}],
    :type "SpeciesMasterTableRecordVector"},
   :setCrownRatio
   {:id "setCrownRatio",
    :parameters
    [{:id "crownRatio", :type "double"}
     {:id "crownRatioUnits",
      :type "FractionUnits::FractionUnitsEnum"}],
    :type "void"},
   :initializeMembers
   {:id "initializeMembers", :parameters [], :type "void"},
   :getFireSeverity
   {:id "getFireSeverity", :parameters [], :type "FireSeverity"},
   :getTreeHeight
   {:id "getTreeHeight",
    :parameters
    [{:id "treeHeightUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getCrownDamageEquationCodeFromSpeciesCode
   {:id "getCrownDamageEquationCodeFromSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "CrownDamageEquationCode"},
   :setEquationType
   {:id "setEquationType",
    :parameters [{:id "equationType", :type "EquationType"}],
    :type "void"},
   :getCrownRatio
   {:id "getCrownRatio",
    :parameters
    [{:id "crownRatioUnits",
      :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :getNumberOfRecordsInSpeciesTable
   {:id "getNumberOfRecordsInSpeciesTable",
    :parameters [],
    :type "int"},
   :getTreeDensityPerUnitArea
   {:id "getTreeDensityPerUnitArea",
    :parameters [{:id "areaUnits", :type "AreaUnits::AreaUnitsEnum"}],
    :type "double"},
   :getTreeCrownLengthScorchedBacking
   {:id "getTreeCrownLengthScorchedBacking",
    :parameters
    [{:id "lengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getBoleCharHeightBacking
   {:id "getBoleCharHeightBacking",
    :parameters
    [{:id "boleCharHeightUnits",
      :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :setSurfaceFireFirelineIntensityBacking
   {:id "setSurfaceFireFirelineIntensityBacking",
    :parameters
    [{:id "value", :type "double"}
     {:id "firelineIntensityUnits",
      :type "FirelineIntensityUnits::FirelineIntensityUnitsEnum"}],
    :type "void"},
   :setFlameLengthOrScorchHeightValue
   {:id "setFlameLengthOrScorchHeightValue",
    :parameters
    [{:id "flameLengthOrScorchHeightValue", :type "double"}
     {:id "flameLengthOrScorchHeightUnits",
      :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :getScorchHeightFlanking
   {:id "getScorchHeightFlanking",
    :parameters
    [{:id "scorchHeightUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :setWindSpeed
   {:id "setWindSpeed",
    :parameters
    [{:id "windSpeed", :type "double"}
     {:id "windSpeedUnits", :type "SpeedUnits::SpeedUnitsEnum"}],
    :type "void"},
   :getProbabilityOfMortalityFlanking
   {:id "getProbabilityOfMortalityFlanking",
    :parameters
    [{:id "probabilityUnits",
      :type "FractionUnits::FractionUnitsEnum"}],
    :type "double"},
   :getEquationTypeAtSpeciesTableIndex
   {:id "getEquationTypeAtSpeciesTableIndex",
    :parameters [{:id "index", :type "int"}],
    :type "EquationType"},
   :getBasalAreaKillled
   {:id "getBasalAreaKillled", :parameters [], :type "double"},
   :getSpeciesCode
   {:id "getSpeciesCode", :parameters [], :type "char"},
   :getSpeciesTableIndexFromSpeciesCodeAndEquationType
   {:id "getSpeciesTableIndexFromSpeciesCodeAndEquationType",
    :parameters
    [{:id "speciesNameCode", :type "char"}
     {:id "equationType", :type "EquationType"}],
    :type "int"},
   :setSurfaceFireFlameLength
   {:id "setSurfaceFireFlameLength",
    :parameters
    [{:id "value", :type "double"}
     {:id "lengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :setDBH
   {:id "setDBH",
    :parameters
    [{:id "dbh", :type "double"}
     {:id "diameterUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :setFlameLength
   {:id "setFlameLength",
    :parameters
    [{:id "flameLength", :type "double"}
     {:id "flameLengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "void"},
   :getFlameLength
   {:id "getFlameLength",
    :parameters
    [{:id "flameLengthUnits", :type "LengthUnits::LengthUnitsEnum"}],
    :type "double"},
   :getSpeciesTableIndexFromSpeciesCode
   {:id "getSpeciesTableIndexFromSpeciesCode",
    :parameters [{:id "speciesNameCode", :type "char"}],
    :type "int"},
   :getBarkEquationNumberFromSpeciesCode
   {:id "getBarkEquationNumberFromSpeciesCode",
    :parameters [{:id "speciesCode", :type "char"}],
    :type "int"}}}}
